* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(109, 105, 105);
}

.main {
    max-width: 1200px;
    margin: 0 auto;   
}

header {
    width: 100%;
    height: 300px;
    background-image: url("./image-header.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
}

.cards {
    display: flex;
}   

.upper {
    flex-wrap: wrap;
  
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
}

.upper .card {
    width:50%;
    padding:25% 0; 
}

.person {
    height: 500px;
    background-color: white;
}

.lower .card {
    width: 25%;
    padding: 30% 0;
}

footer {
    background-color: rgb(136, 177, 163);
    height: 100px;
}