body{
    background-color:#edf2f8 ;
}
*{
margin:0;
padding:0;
box-sizing: border-box;
}
main{
position: relative;
}
img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.child1, .child2, .child3, .child4, .child5{
   display:flex;
   padding-top:20px ;
   padding-left:30px ;
}
b{ font-size:larger;}
p{ text-align: center;}
.div1,.div2 ,.div5{ color: aliceblue;}
.div1{
width: 700px;
height: 280px ;
border-radius: 3%;
background-color:#733fc8;
position: absolute;
margin-top: 150px;
margin-right:150px;
margin-bottom:600px ;
margin-left:300px ; 
}
.div2{
width:240px ;
height: 280px;
border-radius: 3%;
background-color:#49556b;
position: absolute;
margin-top: 150px;
margin-right: 400px ;
margin-bottom:300px ;
margin-left:1020px ;
}
.div3{
width:300px ;
height: 590px;
border-radius: 3%;
background-color:#ffffff;
position: absolute;
margin-top: 150px;
margin-bottom:300px ;
margin-left:1280px ;
box-shadow: #3d4552;
}
.div4{
width:240px ;
height: 280px;
border-radius: 3%;
background-color:#ffffff ;
position: absolute;
margin-top: 460px;
margin-right: 150px ;

margin-left: 300px ;
}
.div5{
width:700px ;
height:280px ;
border-radius: 3%;
background-color:#18202d ;
position: absolute;
margin-top: 460px ;
margin-left: 560px;
}